---
layout: default
title: Home
cover: false
frontpage: true
about: 'about.html'
---

<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }})"{% endif %}>
    <div class="vertical">
        <div class="site-head-content" class="inner">
            <h1 class="blog-title">David Elbe</h1>
            <h2 class="blog-description">
                {{ site.description }}
            </h2>
        </div>
        <div class="navigation">
            <a href="about.html">About me</a>
            <a href="sideprojects.html">Projects</a>
        </div>
    </div>
</header>

<main class="content" role="main">

    <article class="post introduction">
        <h2>I can help you build a great web agency</h2>
        <p>This is my blog where I tell you all about how I run <a href="http://standout.se/">Standout</a>, a web development agency in Sweden.</p>

        <p>
            If you are a developer/project manager who want to run your own business one day,
            or maybe you are already running a web development agency but want
            some helpful tips and tricks from time to time this blog should suit you well.
        </p>

        <p>
            You can make sure you don't miss any posts by subscribing to my RSS feed
        </p>

    </article>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> {{!tags prefix="on "}}</span>
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

        </header>
        <section class="post-excerpt">
            {{ post.excerpt }}
        </section>
    </article>

    {% endfor %}

    <nav class="pagination" role="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
          {% endif %}
        {% endif %}

        <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>

        {% if paginator.next_page %}
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
        {% endif %}
    </nav>


</main>
