/* Rosario. I've added and changed few things. Feel free to change it as you like */

/* Font size of 2.0 is too big, I'll reduce it */
body {font-size: 1.9rem; padding-bottom: 100px;}

/* Adding some text shadow*/
.site-head {text-shadow: 2px 2px #234;}
.site-head a {color:#eee;}

/* The font is too large in the post view. Revert to small size*/
.post-header .blog-title {font-size:inherit;}

/* Reduce font size and add line-height*/
pre{
	font-size: 0.75em;
	line-height: 1.4em;
}

/* Author styling */
.author {margin-bottom:1em;}
.author header{
	float:left;
	width: 80px;
}
.author article{
	margin-left:80px;
	min-height: 80px;
	padding-left:20px;
}
img.profile {
	width:80px;
	height:auto;
  	border-radius: 50px;
}


.NewsletterSignup {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0;
	background: #336699;
	padding: 5px 0;
	overflow: hidden;
	font-size: 14px;
	text-align: center;
}

.NewsletterSignup i {
	color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	padding: 20px 0;
	float: left;
	display: block;
}

.NewsletterSignup form {
	margin: 0 auto;
	padding: 20px;
}

.NewsletterSignup input {
	width: 150px;
}

.mc-field-group {
	float: left;
	padding: 20px;
}
